input[type="text"]{
  width: 250px;
}
.f{
background-color: #02122c;
}
*{
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}
.firstFluid{
  width: 100%;
  height: 550px;
  background-image: url("https://content.skyscnr.com/m/6fcd9915251c77d/original/Contentful_HeaderImage_EN-UK.png?resize=1800px:1800px&quality=100");
  background-size: cover;
}
.topTextForm{
  margin-top: 100px;
  font-size: 65px;
  width: 700px;
  margin-left: 230px;
  margin-bottom: 30px;
  color: white;
}
.radiochechked{
  background-color: #02122c;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  border-top-left-radius : 10px;
  border-top-right-radius : 10px;
}
.radio{
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin-left: 35px;
  margin-top: 25px;
  margin-bottom: 20px;

}
#FlyForm{
  background-color: #02122c;
  width: 1100px;
  height: 200px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-end-start-radius : 10px;
  border-end-end-radius : 10px;
}
.labelForm1{
  margin-top: 50px;
}
.labelForm2{
  margin-left: -20px;
  margin-top: 50px;
}
.labelForm3{
  margin-left: -25px;
  margin-top: 50px;
}
.labelForm4{
  margin-left: -40px;
  margin-top: 50px;
}

.infromation{
  background-color: #02122c;
}
.infoLI{
  margin-bottom: 50px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.text-white{
  font-size: 20px;
}
.text-danger{
  font-size: 30px;
}
a{
  text-decoration: wavy;
  font-family: Arial, Helvetica, sans-serif;
}
.a:hover{
  text-decoration: underline;
}
.locations{
  height: 100px;
}
.destinations{
  margin-left: 20px;
}

li{
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
i.flag:before {
  content: "";
  background: url(https://mdbootstrap.com/img/svg/flags.png) no-repeat -108px -1976px;
}
i.flag:before, i.flag:not(.icon) {
  display: inline-block;
  width: 16px;
  height: 11px;
}
*, :after, :before {
  box-sizing: border-box;
}
i.flag-america:before, i.flag-united-states:before, i.flag-us:before {
  background-position: -72px -1950px!important;
}
i.flag-al:before, i.flag-albania:before {
  background-position: 0 -130px!important;
}
i.flag-au:before, i.flag-australia:before {
  background-position: 0 -312px!important;
}
i.flag-ie:before, i.flag-ireland:before {
  background-position: -36px -650px!important;
}
i.flag-tr:before, i.flag-turkey:before {
  background-position: -72px -1742px!important;
}
i.flag-pl:before, i.flag-poland:before {
  background-position: -72px -572px!important;
}
i.flag-mexico:before, i.flag-mx:before {
  background-position: -72px 0!important;
}
i.flag-ch:before, i.flag-switzerland:before {
  background-position: 0 -1066px!important;
}
i.flag-in:before, i.flag-india:before {
  background-position: -36px -702px!important;
}
i.flag-denmark:before, i.flag-dk:before {
  background-position: 0 -1482px!important;
}
i.flag-bouvet-island:before, i.flag-bv:before {
  background-position: 0 -806px!important;
}
i.flag-se:before, i.flag-sweden:before {
  background-position: -72px -1066px!important;
}
i.flag-fr:before, i.flag-france:before {
  background-position: 0 -1976px!important;
}
i.flag-it:before, i.flag-italy:before {
  background-position: -36px -832px!important;
}
i.flag-gb:before, i.flag-uk:before, i.flag-united-kingdom:before {
  background-position: -36px -26px!important;
}
i.flag-es:before, i.flag-spain:before {
  background-position: 0 -1742px!important;
}
i.flag-ae:before, i.flag-uae:before, i.flag-united-arab-emirates:before {
  background-position: 0 -26px!important;
}
i.flag-croatia:before, i.flag-hr:before {
  background-position: -36px -546px!important;
}
i.flag-fi:before, i.flag-finland:before {
  background-position: 0 -1846px!important;
}
i.flag-china:before, i.flag-cn:before {
  background-position: 0 -1196px!important;
}
i.flag-japan:before, i.flag-jp:before {
  background-position: -36px -910px!important;
}
i.flag-ru:before, i.flag-russia:before {
  background-position: -72px -884px!important;
}
i.flag-de:before, i.flag-germany:before {
  background-position: 0 -1430px!important;
}
